@use 'variables' as *;

/* #region Card structure */

.card {
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px gray;


    &:hover .max-width {

        filter: opacity(0);
        transition: filter 0.4s ease-in-out;
    }

    &:hover .back-img.max-width {

        filter: opacity(1);
        cursor: pointer;
    }

    .card-top {
        position: relative;

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .back-img {
            position: absolute;
            top: 0;
            left: 0;
            filter: opacity(0);
        }

        .badge {
            position: absolute;
            bottom: 2rem;
            border-radius: 5px;
            padding: 0.3rem 0.5rem;
            margin-left: 0.5rem;
            color: $bool-light;
            font-weight: bold;
        }

        .discount {
            background-color: $bool-discount-perc;
        }

        .eco {
            background-color: $bool-eco;
            left: 3.5rem;
        }

        .eco.position-left {
            left: 0;
        }

        i.fa-heart {
            color: #000000;
            position: absolute;
            top: 0.5rem;
            right: 0;
            padding: 0.4rem 0.6rem;
            background-color: $bool-light;

            &:hover {
                color: $bool-discount-perc;
                cursor: pointer;
            }
        }
    }

    .card-description {
        padding: 0.5rem;

        li {
            margin: 0.3rem 0;
        }

        #model:hover {
            cursor: pointer;
        }

        .discount-price,
        .full-price {
            color: $bool-discount-price;
            font-weight: bold;
        }

        .original-price {
            text-decoration: line-through;
            margin-left: 0.5rem;
        }
    }

}

/* #endregion Card structure */

/* #region Card animation */





/* #region Card animation */