@use 'variables' as *;

/* #region Card structure */

.card {
    /* width: 300px; */
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px gray;

    &:hover .max-width {
        display: none;
    }

    &:hover .display-none.max-width {
        display: inline-block;
        cursor: pointer;
    }

    .card-top {
        position: relative;

        .discount {
            position: absolute;
            background-color: $bool-discount-perc;
            bottom: 2rem;
            padding: 0.2rem 0.5rem;
            margin-left: 0.3rem;
            color: $bool-light;
        }

        .eco {
            position: absolute;
            background-color: $bool-eco;
            bottom: 2rem;
            left: 3.8rem;
            padding: 0.2rem 0.5rem;
            color: $bool-light;
        }

        .eco.position-left {
            left: 0;
            margin-left: 0.3rem;
        }

        i.fa-heart {
            color: #000000;
            position: absolute;
            top: 0.5rem;
            right: 0;
            padding: 0.4rem 0.6rem;
            background-color: $bool-light;

            &:hover {
                color: $bool-discount-perc;
                cursor: pointer;
            }
        }
    }

    .card-description {
        padding: 0.5rem;

        li {
            margin: 0.3rem 0;
        }

        .discount-price,
        .full-price {
            color: $bool-discount-price;
            font-weight: bold;
        }

        .original-price {
            text-decoration: line-through;
            margin-left: 0.5rem;
        }
    }

}

/* #endregion Card structure */

/* #region Card animation */





/* #region Card animation */