@use 'variables' as *;

.site-footer {
    background-color: $bool-footer;
    color: $bool-light;
    padding: 2rem 0;

    .container {
        justify-content: space-between;

        .business {

            .business-info {
                font-size: 0.5rem;
                gap: 0.4rem;
            }
        }


        .social-icons {
            gap: 0.4rem;
        }
    }
}