@use 'variables' as *;



.site-header {
    background-color: $primary;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 1px grey;

    .d-flex {
        justify-content: space-between;
    }

    nav {
        padding: 1rem 0;
        align-items: center;

        ul {
            font-size: small;
            color: $bool-light;
            gap: 0.4rem;
            width: fit-content;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .logo-container {

            text-align: center;
            width: 10rem;

            .logo {
                max-width: 100%;
            }
        }

        .header-icons {
            width: fit-content;
            justify-content: end;
            gap: 0.4rem;
        }
    }





}