.site-main {
    padding-top: 6rem;

    .row {

        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -1rem;


        .col {
            width: calc((100%/12)*4);
            padding: 1rem;
        }

    }

}