.site-main {
    padding-top: 6rem;

    .row {

        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;


        .col {
            width: calc((100% / 12)*5);

        }

    }

}