$primary: rgba(255, 105, 0, 1);
$bool-eco: rgba(0, 128, 0, 1);
$bool-discount-perc: rgba(255, 0, 0, 1);
$bool-discount-price: rgba(255, 17, 27, 1);
$bool-footer: rgba(26, 26, 26, 1);
$bool-light: #ffffff;